<nav class="main-nav">
  <h1>{{ title }}</h1>
  <ul>
    <li><a routerLink="/core" routerLinkActive="active">1. Core</a></li>
    <li><a routerLink="/tooling" routerLinkActive="active">2. Tooling</a></li>
    <li><a routerLink="/interaction" routerLinkActive="active">3. Interaction</a></li>
    <li><a routerLink="/state" routerLinkActive="active">4. State</a></li>
    <li><a routerLink="/performance" routerLinkActive="active">5. Performance</a></li>
    <li><a routerLink="/modern" routerLinkActive="active">6. Modern</a></li>
    <li><a routerLink="/skills" routerLinkActive="active">7. Skills</a></li>
  </ul>
</nav>

<main class="content">
  <router-outlet></router-outlet>
</main>
